$prime: #7442BC
$second: #242426
$third: #f2f2f2
$primeWOpacity: rgb(116,66,188, 0.6)
$seconWOpacity: rgb(36,36,38, 0.8)

header
    padding: 0px

.headerContent
    text-align: center
    color: $prime

    h3
        margin-top: 150px

.logoHorizontal
    background-repeat: no-repeat
    background-size: contain
    margin-top: 200px
    width: 650px
    height: 400px

.start
    font-size: 15px
    font-weight: bold
    letter-spacing: 1px
    padding: 5px 15px
    background: #1e2328
    color: #cdbe91
    box-shadow: inset 0 0 2px #000000
    border-image: linear-gradient(to bottom, #c8aa6d, #7a5c29)
    border-image-slice: 1
    border-width: 2px
    margin-top: 210px

    &:hover
        text-shadow: none
        box-shadow: none
        color: #cdbe9130

    &:active
        text-shadow: none
        box-shadow: none
        color: #cdbe9130

.backToTop
    width: 40px
    height: 40px
    background-color: $prime
    color: $third
    position: fixed
    margin-left: 1700px
    border-radius: 10px
    margin-top: 600px
    border: 1px solid $third
    display: none
    @media screen and (min-width: 2400px)  
        margin-left: 2100px

    @media screen and (max-height: 768px) 
        margin-left: 1225px
        margin-top: 300px

    &:hover
        color: $prime
        background-color: $third

.showButton
    display: block


.listFighter 
    display: grid
    grid-template-columns: repeat(4, 1fr)
    margin: 0 auto
    gap: 40px 0px
    justify-items: center
    margin-top: 250px

.cardFighter
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    height: 440px
    width: 280px
    border-radius: 12px
    cursor: pointer
    box-shadow: inset 0 0 0 0 $primeWOpacity
    -webkit-transition: ease-out 0.4s
    -moz-transition: ease-out 0.4s
    transition: ease-out 0.4s

    @media screen and (max-height: 768px) 
        width: 240px

    h1
        font-size: 2rem
        -webkit-text-stroke-width: 1px
        -webkit-text-stroke-color: $primeWOpacity

    &:hover
        box-shadow: inset 400px 0 0 0 $primeWOpacity
        .contentHover
            display: block
            h4
                -webkit-animation: fade 2s
            


.contentHover
    display: none
    position: absolute
    color: $third
    margin-left: 100px

    @media screen and (max-height: 768px) 
        margin-left: 60px

    h4:nth-child(1)
        margin-top: 15px
        margin-bottom: 65px

    h4:nth-child(2)
        margin-bottom: 65px

    h4:nth-child(3)
        margin-bottom: 60px

            

.selected 
    border: 5px solid $prime
    
    &:before 
        animation: focus 0.5s ease


.leftBar
    background-color: $seconWOpacity
    border-radius: 10px 0px 0px 10px
    height: 100%
    width: 50px
    padding-bottom: 40px
    text-align: center

    h4
        color: $prime
        padding-top: 15px

    p
        color: $third

.nomeIdade
    height: 5rem
    background-color: $primeWOpacity
    color: $third
    border-radius: 0px 0px 6px 6px
    text-align: center
    margin-top: -80px

    
    

@keyframes focus 
  from 
    transform: scale(1)
  to 
    transform: scale(1.05)

@keyframes fade
    0%
        opacity: 0
    100%
        opacity: 1
    



  
