
@{
    ViewData["Title"] = "Personagens";
}

<header class="position-absolute top-0 start-50 translate-middle logoHorizontal"
    style="background-image: url('../img/logos/logoHorizontal.png');">
    <div class="headerContent">

        <h3>Selecione 16 Mid laners e inicie</h3>
    </div>

</header>

<button id="backTop" onclick="topFunction()" class="backToTop"> <i class='bx bx-chevron-up'></i></button>

<form action="post">
    <button class="start position-absolute top-0 start-50 translate-middle">Iniciar</button>
    

    <div class="container-md listFighter">

        @for (var i = 0; i < 20; i++)
        {
            <div id="cardSelecionado" onclick="LutadorSelecionado()" class="cardFighter"
            style="background-image: url('../img/personagens/fizz.png');">
                <div class="contentHover">
                    <h4>Lutas</h4>
                    <h4>Vitórias</h4>
                    <h4>Derrotas</h4>
                    <h4>Artes Marciais</h4>
                </div>
                <div class="leftBar">
                    <div>
                        <h4>L</h4>
                        <p>18</p>
                    </div>
                    <div>
                        <h4>V</h4>
                        <p>10</p>
                    </div>
                    <div>
                        <h4>D</h4>
                        <p>3</p>
                    </div>
                    <div>
                        <h4>AM</h4>
                        <p>5</p>
                    </div>
                </div>

                <div class="nomeIdade">
                    <h1>Fizz</h1>
                    <span>19 Anos</span>
                </div>


            </div>
        }
    </div>
</form>